<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>API Document List - Express Mock Server</title>
  <link href="//lib.baomitu.com/bulma/0.4.0/css/bulma.min.css" rel="stylesheet">
  <link href="//lib.baomitu.com/highlight.js/9.9.0/styles/default.min.css" rel="stylesheet">
  <link href="//lib.baomitu.com/highlight.js/9.9.0/styles/rainbow.min.css" rel="stylesheet">
  <style>
  body,html{height:100%;background-color:#eee;}
  #main{position:fixed;top:157px;right:.75rem;bottom:0;left:.75rem;z-index:1000;overflow:hidden;margin-bottom:-.75rem;background-color:#f5f5f5;}
  #main .notification{border-radius:0;}
  #left{margin-right:0;background-color:#eee;}
  #left .menu{height:100%;}
  #right{margin-left:0;height:100%;}
  #right .is-parent{padding:0;width:100%;height:100%;}
  #json{overflow:auto;width:100%;height:100%;background-color:#474949;}
  #json code{padding-bottom:1.5em;}
  #json a {color:#55acee;}
  #json a:hover {color:#66bdff;}
  </style>
</head>
<body>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Express Mock Server</h1>
      <h2 class="subtitle">API document management platform.</h2>
    </div>
  </div>
</section>


<div id="main" class="tile is-ancestor">
  <div id="left" class="tile is-parent">
    <aside class="menu is-primary">
      <ul class="menu-list">
      <% Object.keys(routes).sort().forEach(function (path) { var route = routes[path]; %>
        <li><a href="<%= host + route.url %>" data-path="<%= route.filepath %>"><%= route.describe %></a></li>
      <% }); %>
      </ul>
    </aside>
  </div>
  <div id="right" class="tile is-10">
    <div class="tile is-parent">
      <pre id="json"><code class="hljs hljs-line-numbers" style="float: left;">1</code><code class="hljs json">No data show, please click on the left API.</code></pre>
    </div>
  </div>
</div>


<script src="//lib.baomitu.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//lib.baomitu.com/highlight.js/9.9.0/highlight.min.js"></script>
<script src="//lib.baomitu.com/highlightjs-line-numbers.js/1.1.0/highlightjs-line-numbers.min.js"></script>
<script>
(function () {
  var $pre = $('#json');
  $('#left .menu-list a').on('click', function () {
    var url = this.href;
    var path = $(this).data('path');

    $.get(url, function (data) {
      var ret = hljs.highlight('json', JSON.stringify(data, null, '  '), true);
      var comment = [
        '<span class="hljs-comment">/** FILE: ' + path + ' **/</span>\n',
        '<span class="hljs-comment">/** URL: <a target="_blank" href="' + url + '">' + url + '</a> **/</span>\n'
      ].join('');
      $pre.html('<code class="hljs json">' + comment + ret.value + '</code>');
      hljs.lineNumbersBlock($pre.children()[0]);
    }, 'json');

    return false;
  });
} ());
</script>
</body>
</html>